@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #3b429f;
  --clr-secondary: #ef5b5b;
  --clr-text: #fdfffc;
  --clr-dark: #706c61;
  --clr-white: #fff;
  --clr-black: #000;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--clr-text);
  color: var(--clr-black);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;

}

hr {
  margin: 2rem 0;
}

.text-sm {
  font-size: 0.8rem;
}

/* Containers */
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 85%;
}


.head h1{
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
}

.head p{
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* links/buttons */
.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 9rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  display: inline-block;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: var(--clr-text);
}

.btn-secondary {
  background-color: var(--clr-secondary);
  color: var(--clr-text);
}

.btn-primary-outline {
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-text);
}

.btn-secondary-outline {
  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-text);
}

.unordered {
  list-style: none;
}

.list-inline li {
  display: inline;
  padding: 0rem 0.5rem;
}

.nav {
  background-color: rgb(18, 153, 206);
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--clr-text);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.nav .brand {
  font-weight: 700;
  font-size: 1.8rem;
  display: inline-block;
}
.nav ul {
  list-style: none;
  text-align: right;
  float: right;
}

.nav ul li {
  display: inline-block;
  padding: 0rem 0.8rem;
}

.nav ul li a {
  color: var(--clr-text);
  font-size: 1.25rem;
}
.nav ul li a.active {
  font-weight: 600;
}

/* Header */
.hero {
  color: var(--clr-dark);
  display: block;
  text-align: center;
}

.hero img {
  max-width: 350px;
  margin: 0.8rem auto;
  display: block;
  
}

.img-circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid var(--clr-primary);

}

.section {
  padding: 2rem 0rem;
  text-align: center;
  margin-top: -24rem;

  
}



.section.dark {
  background-color: rgb(8, 182, 250);
  color: var(--clr-text);
  margin-top: 10rem;
}

.section.dark .section-title {
  color: var(--clr-secondary);
  margin-top: 3rem;
  font-size: 2.5rem;
}




.section .section-title h2{
  margin-right: 40rem;
}

.section img
{
  width: auto;
  height: 20rem;
  margin-left: 60rem;
  margin-top: -19rem;
  overflow: hidden;

  border-radius: 10%;

}


.section.dark p {
padding: 1rem;
font-size: 1.4rem;
}

.samples_program h1{
  background-color: var(--clr-white);
  text-align: left;
  margin-top: 4rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-left: 17rem;
  color: rgb(15, 127, 212);

}

.contact{
margin-top: 2rem;
margin-bottom: 4rem;
  text-align: center  ;
}

.button .submit{
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 9rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  display: inline-block;
  background-color: #ef5b5b;
} 


.skill img{
  width: auto;
  margin-left: 14rem;
  margin-top: -40rem;
}



.samples_program p{
  margin-left: 4rem;
  padding: 0.7rem;
}




.footer {
  background-color:rgb(18, 153, 206);
  color: var(--clr-text);
  padding: 2rem 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
}

.footer-heading {
  font-weight: 700;
  font-size: larger;
  margin-bottom: 1rem;
}

.footer img{
  display: grid;
  place-items: center;
  place-content: center;
  height: auto;
  width: 5rem;
  padding: 1rem;
  float: center;

}
.footer h3{
  text-align: left;
  font-size: 1.5rem;
  
}

.footer img{
  display: inline;
  float: center;
}

/* Global CSS */

/* Custom CSS */
.title {
  text-align: center;
  margin: 1.5rem auto;
  text-transform: uppercase;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.description {
  width: 80%;
  margin: 0.25rem auto;
}


.icons img{
  display: grid;
  place-items: center;
  place-content: center;
  height: auto;
  width: 5rem;
  padding: 1rem;
  
}

.icons img{

  margin-left: -1rem;
  margin-top: -10rem;
  padding: 1rem;

}


.description p {
  margin: 0.5rem auto;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--clr-primary);
}

 
  
@media only screen and ( min-width: 768px){

.container{
  


}
  } 

  @media only screen and (min-width:4000px){

  }